.viewWindow {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    justify-content: space-around;
    row-gap: 24px;
    column-gap: 22px;
    justify-items: center;
}

.viewList {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

@media (max-width: 800px) {
    .viewWindow {
        row-gap: 32px;
        column-gap: 35px;
    }
}

@media (max-width: 500px) {
    .viewWindow {
        column-gap: 16px;
    }
}

@media (max-width: 450px) {
    .viewWindow {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .viewWindow {
        grid-template-columns: 288px;
    }
}

@media (max-width: 350px) {
    .viewWindow {
        grid-template-columns: 1fr;
    }
}
